.search-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

input{
    width: 15rem;
    font-size: medium;
    padding: 0.5rem 0.2rem;
    text-align: center;
    outline: none;
    border: 2px solid black;
}